@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 /* Colors */

/* Primary */

--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

/* Neutral */

--Pale-Blue: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);

}

body {
    background-color: var(--Very-Dark-Blue);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 420px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   gap: 2rem;
}


.svg-container {
    background-color: var(--Dark-Blue);
    width: 400px;
    height: 220px;
    border-radius: 10px 100px 10px 10px;
    padding: 3rem 0;
    padding-left: 3rem;
}

.logo-container {
    display: block;
    width: 160px;
}

.logo-container img {
    width: 100%;
}

.svg-items {
    display: flex;
    padding: 25px 0;
    gap: 1rem;
}

.item {
    width:50px;
    height: 50px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.item:hover {
    cursor: pointer;
}

.storage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 700px;
    height: 180px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: var(--Dark-Blue);
    position: relative;
}

p {
    color: var(--Pale-Blue);
    padding-bottom: 20px;
}

.data-used {
    width: 560px;
    height: 20px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 20px;
    padding: 3px;
    overflow: hidden;
}

.data-used .used {
    width: 81.5%;
    height: 100%;
    float: left;
    background: linear-gradient(135deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: relative;
    border-radius: 20px;
    animation: used 2.5s ease;
}

.circle {
    background-color: white;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 439px;
    top: 2px;
    animation: circle 2.5s ease;
}

@keyframes used {
    0% {
        width: 0px;
    }
    100% {
        width: 81.5%;
    }
}

@keyframes circle {
    0% {
        left: -20px;
    }
    100% {
        left: 439px;
    }
} 

span {
    color: var(--Pale-Blue);
    font-weight: 700;
}

.num-gigs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.num-gigs {
    color: var(--Pale-Blue);
    font-weight: 700;
}

.left-gigs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 150px;
    height: 70px;
    border-radius: 15px 15px 0 15px;
    position: absolute;
    left: 475px;
    top: -40px;
    animation: left-gigs 2.5s ease;
}

.triangle {
    position: absolute;
    top: 18px;
    left: 589px;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid white;
    transform: rotate(-90deg);
    animation: triangle 2.49s ease;
}


@keyframes triangle {
    0% {
        opacity: 0;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        left: 0px;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 589px;
    }
}

@keyframes left-gigs {
    0% {
        opacity: 0;
        left: 0px;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 475px;
    }
}


.left-gigs p {
    padding: 0;
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
    font-weight: 700;
}

.left-gigs span {
    color: var(--Grayish-Blue);
    font-size: 14px;
}

@media (max-width: 768px) {

    body {
        background-image: url(./images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0;
        overflow: auto;
    }
    .container {
        flex-direction: column;
        gap: 0;
    }
    
   
    .svg-container, .storage {
        width: 380px;
    }
    
    .data-used {
        width: 304px;
    }

    .data-used .circle {
        left: 230px;
    }

    @keyframes circle {
        0% {
            left: -20px;
        }
        100% {
            left: 230px;
        }
    } 

    .left-gigs {
        left: 110px;
        top: 150px;
        border-radius: 10px;
        animation: left-gigs 2.5s ease-in;
    }

    @keyframes left-gigs {
        0% {
            opacity: 0;
            left: 0px;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            left: 110px;
        }
    }

    .triangle {
        display: none;
        opacity: 0;
    }

    p {
        font-size: 18px;
    }
   
}